* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    background: #fff;
}

/* .mat-sidenav-container {
    position: fixed;
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
 } */

mat-sidenav, 
mat-sidenav.mat-locked-open, 
mat-sidenav.mat-closed.mat-locked-open-add-active {
    min-width: 200px !important;
    width: 120px !important;
    /* max-width: 400px !important; */
    background: #f7f7f7;
} 